/* BUTTON STYLING */
.buttonDebut {
    height: 70px;
    width: 140px;
    background-color: #A5C9A5;
    border-color: #A5C9A5;
}

.buttonFearless {
    height: 70px;
    width: 140px;
    background-color: #EFC180;
    border-color: #EFC180;
}

.buttonSpeakNow {
    height: 70px;
    width: 140px;
    background-color: #C7A8CB;
    border-color: #C7A8CB;
}

.buttonRed {
    height: 70px;
    width: 140px;
    background-color: #7A2E39;
    border-color: #7A2E39;
    color:#CDC9C1;
}

.button1989 {
    height: 70px;
    width: 140px;
    background-color: #B5E5F8;
    border-color: #B5E5F8;
}

.buttonReputation {
    height: 70px;
    width: 140px;
    background-color: #746F70;
    border-color: #746F70;
}

.buttonLover {
    height: 70px;
    width: 140px;
    background-color: #F7B0CC;
    border-color: #F7B0CC;
}

.buttonFolklore {
    height: 70px;
    width: 140px;
    background-color: #CDC9C1;
    border-color: #CDC9C1;
}

.buttonEvermore {
    height: 70px;
    width: 140px;
    background-color: #C5AC90;
    border-color: #C5AC90;
}

.buttonMidnights {
    height: 70px;
    width: 140px;
    background-color: #242E47;
    border-color: #242E47;
    color: #B5E5F8;
}

.buttonTTPD {
    height: 70px;
    width: 140px;
    background-color: #635B3A;
    border-color: #635B3A;
    color: #CDC9C1;
}

.buttonAll {
    height: 70px;
    width: 140px;
    background-color: #FFFFFF;
    border-color: #000000;
}

.songButton {
    padding: 15px 32px; 
    font-size: 16px;
    height: 100px;
    width: 250px;
    background-color: rgb(254, 254, 254);
}


